# Kredensial Supabase (URL & Anon Key)
# Dapatkan dari Dashboard Supabase -> Project Settings -> API
# PENTING: Gunakan Anon Key (public), BUKAN Service Role Key!
VITE_SUPABASE_URL=https://atvvradmlynzuihkurdx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF0dnZyYWRtbHluenVpaGt1cmR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA4ODU4NjEsImV4cCI6MjEwNjQ2MTg2MX0.EFmzw0z1OSgt5djWxvJe2UYL9Nu9o4Kfd1pcjKB9WWY
